


.card {
    width: 200px;
    height: 300px;
    margin: 10px 10px;
    perspective: 1000px;
  }
  
  .card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  
  .card.flip .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .card-back {
    transform: rotateY(180deg);
  }

  .flex{
    display: flex;
    flex-direction: row;
    width: 1000px;
    flex-wrap: wrap;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Cor de fundo do overlay com transparência */
    z-index: 9999; /* Garante que o overlay esteja na frente de todo o conteúdo */
}

.overlay img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}